<!-- <br />
<br /><br /><br /> -->
<!-- <mat-progress-bar mode="indeterminate"></mat-progress-bar> -->
<!-- 
<br /><br /> --><!-- card  -->
<!-- 
<div class="gamezone">
  <img
    src="../../../assets/img/kevin-borrill-AoMd3sk9Cw0-unsplash.jpg"
    alt=""
  />
</div> -->
<!-- <img src="../../../assets/img/kevin-borrill-AoMd3sk9Cw0-unsplash.jpg" alt="" /> -->
<div class="gamesection">
  <div class="background">
    <div class="gamezone">
      <div class="imgcontainer">
        <img src="../../../assets/img/gamezone.png" alt="" />
      </div>
      <div class="heading">
        <h3>GAMEZONE</h3>
      </div>
    </div>

    <div id="mainContent">
      <figure class="gameCard">
        <img src="../../../assets/img/pong.png" alt="sample108" />
        <figcaption (click)="startgame('pong', 1)">
          <h3>Ping Pong</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis
            recusandae quo odit est a quia veritatis. Quaerat possimus nulla
            mollitia? Pariatur eos distinctio soluta debitis odit nemo!
            Veritatis, laudantium autem.
          </p>
        </figcaption>
      </figure>
      <!-- <button >start</button> -->
      <!-- <a routerLink="/pong"><button>start pong</button></a> -->

      <figure class="gameCard">
        <img src="../../../assets/img/car3.jpg" alt="sample100" />
        <figcaption (click)="startgame('car', 2)">
          <h3>Car</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos,
            tempore. Alias labore, amet placeat quos iure velit temporibus ullam
            ipsum blanditiis, sapiente repellendus! Neque nemo in iusto
            quibusdam, harum corrupti!
          </p>
        </figcaption>
        <!-- <a routerLink="/car"></a> -->
      </figure>
      <!-- <button >start</button> -->
      <figure class="gameCard">
        <img src="../../../assets/img/rps.png" alt="sample101" />
        <figcaption (click)="startgame('rps', 3)">
          <h3>Rock Papper Sissors</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores
            sequi nam, eius aliquam quis quos blanditiis tempora repellendus
            veritatis assumenda. Atque quasi exercitationem hic tempora eveniet
            magni architecto magnam non?
          </p>
        </figcaption>
        <!-- <a routerLink="/rps"></a> -->
      </figure>
      <!-- <button>start</button> -->
      <figure class="gameCard">
        <img src="../../../assets/img/asteroid.jpg" alt="sample108" />
        <figcaption (click)="startgame('planet', 4)">
          <h3>Planet</h3>
          <p>
            Planet is a first-person shooter video game. Each battle takes place
            on one of several galaxies. Your mission is to save the planet. So
            are you ready of adventure of lifetime?
          </p>
        </figcaption>
      </figure>
      <!-- <button >start</button> -->
    </div>
    <br /><br /><br /><br />
  </div>
</div>
